<%- include("partials/header") -%> 

<div class="full-center text-center">
    <h3>Check my projects</h3>

    <p class="contact-link">
      <i class="fab fa-github"> <a href="https://github.com/razvanpetruta">Github</a></i>
    </p>
</div>

<%- include("partials/footer") -%> 