<%- include("partials/header") -%> 

<div class="home-center text-center">
    <h1 class="home">Welcome to MY DAILY!</h1>
    <a href="/register" class="btn btn-outline-custom">SIGN UP / LOGIN</a>
</div>

<%- include("partials/footer") -%> 